@use '@unocss/reset/tailwind.css';

body {
  font-family: 'メイリオ', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
  font-size: 62.5%;
  font-feature-settings: 'palt';
  line-height: 1.8;
  letter-spacing: 0.28em;
}

a {
  transition: 0.08s;
}
